<a href="https://colab.research.google.com/github/askarernist/Kaggle/blob/main/Mid_term_assignment_Askar_Ernist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [165]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/Midterm.db")

In [166]:
# created the major "Vehicles" table
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS Vehicles(
    id integer primary key, 
    registration_id text, 
    manufacturer text, 
    model text, 
    color text, 
    current_odometer integer, 
    passenger_capacity integer,
    driver_id,
    FOREIGN KEY(driver_id) REFERENCES Driver(id))''')

In [167]:
# Inserting all info to "Vehicles" table
r_set = my_conn.execute(''' INSERT INTO `Vehicles` 
  (`id`, `registration_id`, `manufacturer`, `model`, `color`, `current_odometer`, `passenger_capacity`,`driver_id`) VALUES
  (1, '2001 ABC', 'Volvo', 'XC90 SE', 'Silver', 4350, 4,1),
  (2, '2006 AFD', 'Kia', 'K7', 'Black', 2195, 4, 2),
  (3, '2021 AHR', 'Tesla', '2020 F', 'White', 509, 4,3),
  (4, '2020 DXF', 'Ford', 'Transit', 'Silver', 974, 2,4)
''')

q = ''' SELECT * FROM Vehicles '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  4
(1, '2001 ABC', 'Volvo', 'XC90 SE', 'Silver', 4350, 4, 1)
(2, '2006 AFD', 'Kia', 'K7', 'Black', 2195, 4, 2)
(3, '2021 AHR', 'Tesla', '2020 F', 'White', 509, 4, 3)
(4, '2020 DXF', 'Ford', 'Transit', 'Silver', 974, 2, 4)

In [168]:
# created the major "Vehicle Actions" table
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS Vehicle_Actions(
    id integer primary key, 
    action_type char, 
    odometer integer, 
    final_cost integer, 
    description text, 
    date date,
    vehicle_id,
    FOREIGN KEY(vehicle_id) REFERENCES Vehicles(id))''')

In [169]:
# Inserting all info to "Vehicle Actions" table
r_set = my_conn.execute(''' INSERT INTO `Vehicle_Actions` 
  (`id`, `action_type`, `odometer`, `final_cost`, `description`, `date`, `vehicle_id`) VALUES
  (5, 'M', 45000, 500, 'always clean', 2019-06-15, 1),
  (6, 'M', 30000, 544, 'easy trips', 2019-06-15, 2),
  (7, 'M', 40000, 444, 'good music', 2017-06-15, 3),
  (8, 'R',44444, 4444, 'polite atmosphere', 2017-06-15,4)
''')
q = ''' SELECT * FROM Vehicle_Actions '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  4
(5, 'M', 45000, 500, 'always clean', 1998, 1)
(6, 'M', 30000, 544, 'easy trips', 1998, 2)
(7, 'M', 40000, 444, 'good music', 1996, 3)
(8, 'R', 44444, 4444, 'polite atmosphere', 1996, 4)

In [170]:
#created table 'Drivers'
my_conn.execute('''
CREATE TABLE IF NOT EXISTS Drivers(
    id integer primary key, 
    name text, 
    license_number text,
    clearance_level integer,
    language_id integer,
    FOREIGN KEY(language_id) REFERENCES Languages(id))''')

In [171]:
# Inserting all info to "Drivers" table
r_set = my_conn.execute(''' INSERT INTO `Drivers` 
  (`id`, `name`, `license_number`, `clearance_level`, `language_id`) VALUES
  (1, "John", '123456789101324354', 1, 1),
  (2, "In Che Xiu", '123456789101324351', 3, 2)
''')

q = ''' SELECT * FROM Drivers '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  2
(1, 'John', '123456789101324354', 1, 1)
(2, 'In Che Xiu', '123456789101324351', 3, 2)

In [172]:
#created table 'FATL'
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS FATL(
    id integer primary key,
    driver_id integer,
    Level integer,
    Qualification_date date,
    FOREIGN KEY(driver_id) REFERENCES Drivers(id))
    ''')

In [173]:
# Inserting all info to "FATL" table
r_set = my_conn.execute(''' INSERT INTO `FATL` 
  (`id`, `driver_id`, `Level`, `Qualification_date`) VALUES
  (1, 1, '5', 2019-10-11),
  (2, 2, 4, 2018-10-22)
''')

q = ''' SELECT * FROM FATL '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  2
(1, 1, 5, 1998)
(2, 2, 4, 1986)

In [174]:
#created table 'STLVT'
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS STLVT(
    id integer primary key,
    driver_id integer,
    Level integer,
    Qualification_date date,
    authority text,
    FOREIGN KEY(driver_id) REFERENCES Drivers(id))
    ''')

In [175]:
# Inserting all info to "STLVT" table
r_set = my_conn.execute(''' INSERT INTO `STLVT` 
  (`id`, `driver_id`, `Level`, `Qualification_date`,`authority`) VALUES
  (3, 1, '5', 2019-10-11, 'FSB'),
  (4, 2, 4, 2018-10-22, 'FSB')
''')

q = ''' SELECT * FROM STLVT '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  2
(3, 1, 5, 1998, 'FSB')
(4, 2, 4, 1986, 'FSB')

In [176]:
#created table 'Game_officials'
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS Game_Officials(
    id integer primary key,
    name text,
    country_id integer,
    city_id integer,
    role text,
    language_id integer,
    FOREIGN KEY(country_id) REFERENCES Countries(id),
    FOREIGN KEY(language_id) REFERENCES Languages(id))
    ''')

In [177]:
# Inserting all info to "Game_Officials" table
r_set = my_conn.execute(''' INSERT INTO `Game_Officials` 
  (`id`,`name`,`country_id`,`city_id`, `role`, `language_id`) VALUES
  (1, 'Alex', 123,145,'Coach', 2),
  (2, 'Si Won Hye',122, 144, 'Assistent', 2)
''')

q = ''' SELECT * FROM Game_Officials '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  2
(1, 'Alex', 123, 145, 'Coach', 2)
(2, 'Si Won Hye', 122, 144, 'Assistent', 2)

In [178]:
#created table 'Countries'
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS Countries(
    id integer primary key,
    name text)
    ''')

In [179]:
#Inserting infor for the created table 'Countries'
r_set = my_conn.execute('''INSERT INTO "Countries"
(`id`,`name`)VALUES
(11,'USA'),
(22,'China'),
(33,'Korea') ''')
q = ''' SELECT * FROM Countries '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  3
(11, 'USA')
(22, 'China')
(33, 'Korea')

In [180]:
#created table 'Languages'
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS Languages(
    id integer primary key,
    name text,
    iso text)
    ''')

In [181]:
#Inserting infor for the created table 'Languages'
r_set = my_conn.execute('''INSERT INTO "Languages"
(`id`,`name`, `iso`)VALUES
(1,'USA', 'ISO 3166-2:US'),
(2,'China', 'ISO 3166-2:CN'),
(3,'Korea', 'ISO 3166-2:KR') ''')

q = ''' SELECT * FROM Languages '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  3
(1, 'USA', 'ISO 3166-2:US')
(2, 'China', 'ISO 3166-2:CN')
(3, 'Korea', 'ISO 3166-2:KR')

In [182]:
#created table 'Country_languages'
my_conn.execute('''
CREATE TABLE IF NOT EXISTS Country_languages(
    country_id integer,
    language_id integer,
    FOREIGN KEY (country_id) REFERENCES Countries(id), 
    FOREIGN KEY (language_id) REFERENCES Languages(id),
    UNIQUE (country_id, language_id))''')

In [183]:
#Inserting infor for the created table 'Country_languages'
r_set = my_conn.execute('''INSERT INTO "Country_languages"
(`country_id`,`language_id`)VALUES
(1, 2),
(2, 1) ''')

q = ''' SELECT * FROM Country_languages '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  2
(1, 2)
(2, 1)

In [184]:
#created table 'Locations'
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS Locations(
    id integer primary key,
    name text,
    street_number text,
    city text,
    type text)
    ''')

In [185]:
#Inserting infor for the created table 'Locations'
r_set = my_conn.execute('''INSERT INTO "Locations"
(`id`,`name`, `street_number`, `city`, `type`)VALUES
(1, 'Incheon Airport', 'Incheon 123', 'Incheon', 'Airport' ),
(2, 'Square', 'Incheon 777', 'Incheon', 'Hotel' ) ''')

q = ''' SELECT * FROM Locations '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  2
(1, 'Incheon Airport', 'Incheon 123', 'Incheon', 'Airport')
(2, 'Square', 'Incheon 777', 'Incheon', 'Hotel')

In [186]:
#created table 'Trips'
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS Trips(
    id integer primary key,
    booking_reference integer,
    start_date_time date,
    end_date_time date,
    start_odometer integer,
    end_odometer integer,
    driver_id integer,
    game_officials_id integer,
    pickup_loc_id integer,
    dropoff_loc_id integer,
    FOREIGN KEY(driver_id) REFERENCES Drivers(id),
    FOREIGN KEY(game_officials_id) REFERENCES Game_officials(id),
    FOREIGN KEY(pickup_loc_id) REFERENCES Locations(id),
    FOREIGN KEY(dropoff_loc_id) REFERENCES Locations(id))
    ''')

In [187]:
#Inserting infor for the created table 'Trips'
r_set = my_conn.execute('''INSERT INTO "Trips"
(`id`,`booking_reference`, `start_date_time`,`end_date_time`, `start_odometer`,`end_odometer`, `driver_id`, `game_officials_id`, `pickup_loc_id`, `dropoff_loc_id`)VALUES
(1, 213, '2024-11-11 13:00:00', '2022-11-11 16:00:00', 452, 534, 1, 1, 1, 2),
(2, 125, '2024-20-11 15:00:00', '2022-20-11 20:00:00', 145, 567, 2, 2, 2, 1) ''')

q = ''' SELECT * FROM Trips '''
my_cursor = my_conn.execute(q)
data_row = my_cursor.fetchall()
print(type(data_row))

print("No of records : " , len(data_row))
for row in data_row:
  print(row)

<class 'list'>
No of records :  2
(1, 213, '2024-11-11 13:00:00', '2022-11-11 16:00:00', 452, 534, 1, 1, 1, 2)
(2, 125, '2024-20-11 15:00:00', '2022-20-11 20:00:00', 145, 567, 2, 2, 2, 1)